@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  color: white;
}
/* TOP NAVIGATION */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 77, 0, 0.4);
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff4d00;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* HOVER EFFECT*/
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #ff4d00;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff4d00;
}

.nav-links a:hover::after {
  width: 100%;
}

/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: url('IMAGES/beirut_helicopter_backgound.png') center/cover no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  background: rgba(0,0,0,0.65);
  z-index: 1;
}

.warning-container {
  position: relative;
  z-index: 2;
  text-align: center;
}

/* WARNING IMAGE */
.warning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
  z-index: 2;
  text-align: center;
}

.warning-sign {
  width: clamp(180px, 25vw, 320px);
  height: auto;
  margin: 0; 
  filter: drop-shadow(0 0 25px rgba(255, 0, 0, 0.6));
}

.warning-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.warning-text h1 {
  margin: 0; 
  font-size: clamp(2rem, 5vw, 4.5rem);
  color: #ff4d00;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 0 8px rgba(255,60,0,0.8), 0 0 20px rgba(255,80,0,0.6);
}



/* ENTER BUTTON */
#enterButton {
  margin-top: 40px;
  padding: 15px 35px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: #ff4d00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#enterButton:hover {
  background: #ff1a00;
}

/* SCROLLABLE CONTENT */
.content {
  padding: 80px 10%;
  background: #0f0f0f;
  min-height: 100vh;
}

.content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff4d00;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #ccc;
}
/* INFO BOX  */
.info-wrapper {
  top: 90px; 
  margin-left: 8%;
  position: relative;
  display: inline-block;
  z-index: 5;
}

.info-icon {
  width: 28px;
  height: 28px;
  background: #ff4d00;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

/* TOOLTIP */
.info-tooltip {
  position: absolute;
  top: 35px;
  left: 0;
  width: 220px;
  background: #111;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(255, 77, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.info-tooltip p {
  font-size: 0.8rem;
  color: #ccc;
  line-height: 1.4;
}

/* HOVER INFOpopup */
.info-wrapper:hover .info-tooltip {
  opacity: 1;
  visibility: visible;
}

/* HAZARD SECTION 1 */
.hazard-types {
  margin-top: 60px;
  padding: 0 10%;
}

.hazard-types h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #ff4d00;
  text-align: center;
  letter-spacing: 1px;
}

.hazard-item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.hazard-icon {
  width: 60px;
  height: 60px;
  border: 2px solid #ff4d00;
  flex-shrink: 0;
  box-shadow: 0 0 12px rgba(255, 77, 0, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.hazard-icon img {
  position: absolute;
  width: 70%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hazard-item p {
  font-size: 1.15rem;
  line-height: 1.7;
  color: #ccc;
}

.hazard-item strong {
  color: #ff4d00;
}

/* HAZARD SECTION 2 */
.hazard-types2 {
  margin-top: 60px;
  padding: 0 10%;
}

.hazard-types2 h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #ff4d00;
  text-align: center;
  letter-spacing: 1px;
}

.hazard-item2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.hazard-icon2 {
  width: 60px;
  height: 60px;
  border: 2px solid #ff4d00;
  flex-shrink: 0;
  box-shadow: 0 0 12px rgba(255, 77, 0, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.hazard-icon2 img {
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hazard-item2 p {
  font-size: 1.15rem;
  line-height: 1.7;
  color: #ccc;
}

.hazard-item2 strong {
  color: #ff4d00;
}
