@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  color: white;
}

/*top navigation*/
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 77, 0, 0.4);
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ff4d00;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}
/* Hover underline effect */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #ff4d00;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #ff4d00;
}

.nav-links a:hover::after {
  width: 100%;
}